<ion-content class="ion-padding login-page">
  <div class="login-wrapper">
    <div class="login-container">
      <h1 class="title">MiniInstagram</h1>
      <p class="subtitle">Inicia sesion</p>

      <form (ngSubmit)="login()" class="login-form">
        <ion-item lines="none">
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input
            type="email"
            [(ngModel)]="email"
            name="email"
            required
            fill="solid"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="password"
            name="password"
            required
            fill="solid"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" shape="round" type="submit">
          Iniciar sesión
        </ion-button>
      </form>

<ion-button
  class="register-button"
  expand="block"
  fill="outline"
  shape="round"
  routerLink="/register">
  Regístrate
</ion-button>
    </div>
  </div>
</ion-content>